[user]
	name = Parthiban Loganathan
	email = pl2487@columbia.edu
[core]
	editor = vim
[alias]
        po = push origin 
        co = checkout
        cm = commit -m
        br = branch
        st = status
        rb = rebase -i HEAD~2
[color]
	ui = true
